body {
    background-image: radial-gradient(circle at center, white, cadetblue);
}

.global {
    text-align: center;
    width: 1200px;
    margin-left: 100px;
}

p, input {
    font-size: 25px;
}
.top, button {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.container {
    margin-top: 25px;
}

.subtitle {
    margin-top: 0;
    font-size: 35px;
    color: #526488;
    text-align: center;
}

select {
    font-size: 20px;
}